body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(97, 89, 86, 0.808);
    background-image: url('codebnw.jpg');
    background-size: cover;
    background-position: center;
    color: #008080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    padding-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    color: yellow;
    border-radius: 4px;
}

.blogpost1 {
    max-width: 800px;
    margin-top: 30px auto;
}

.post {
    background-color: rgb(240, 170, 170);
    border: 1px solid #dddddd;
    border-radius: 8PX;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.post:hover {
    transform: translateY(-5px);
}

.post-title {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
}

.post-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.post-excerpt {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.read-more {
    display: inline-block;
    background-color: 007bff;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3;
}

.read-more:hover {
    background-color: yellow;
}

.blogpost2 {
    max-width: 800px;
    margin-top: 30px auto;
}

.post2 {
    background-color: rgb(240, 170, 170);
    border: 1px solid #dddddd;
    border-radius: 8PX;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.post2:hover {
    transform: translateY(-5px);
}

.post-title2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
}

.post-date2 {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.post-excerpt2 {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.read-more2 {
    display: inline-block;
    background-color: 007bff;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3;
}

.read-more2:hover {
    background-color: yellow;
}